<p>
  <b>User:</b>
  <%=h @help_offer.user %>
</p>

<p>
  <b>Job request:</b>
  <%=h @help_offer.job_request %>
</p>

<p>
  <b>Comment:</b>
  <%=h @help_offer.comment %>
</p>

<p>
  <b>Accepted:</b>
  <%=h @help_offer.accepted %>
</p>

<p>
  <b>Response:</b>
  <%=h @help_offer.response %>
</p>


<%= link_to 'Edit', edit_help_offer_path(@help_offer) %> |
<%= link_to 'Back', help_offers_path %>