<p>
  <b>User:</b>
  <%=h @help_offer.user.email %>
</p>

<p>
  <b>Job request:</b>
  <%=h @help_offer.job_request.name %>
</p>

<p>
  <b>Comment:</b>
  <%=h @help_offer.comment %>
</p>



<%= link_to 'Edit', edit_job_request_help_offer_path(@job_request, @help_offer) %> |
<%= link_to 'Back', help_offers_path %>