<% form_tag "/search", :method => :get do %>
  <label for="query">Search:</label>
  <%= text_field_tag 'query', params[:query] %>
  <input type="submit" value="Search" />
<% end %>

<% if @requests.empty? %>
  <p>There are no matches for your search query</p>
<% else %>

<div id="opportunities">
	<h3><span>Upcoming Opportunities</span></h3>
	
	<% @requests.each do |job| %>
  	<p><img src="images/green_button1.png" width="67" height="67" class="floatLeft"><strong><%= job.title %></strong><br />
      <%= job.description %></p>
      <%= link_to "More info...", job, :class => 'readmore' %>
			<div class="spacer"></div>
	<% end %>
  </div>

  <%= will_paginate @requests %>
<% end %>
