<% form_tag "/search", :method => :get do %>
  <label for="query">Search:</label>
  <%= text_field_tag 'query', params[:query] %>
  <input type="submit" value="Search" />
<% end %>

<% if @requests.empty? %>
  <p>There are no matches for your search query</p>
<% else %>

<div id="opportunities">
	<h3>Upcoming Opportunities</h3>
	
	<% @requests.each do |job| %>
		<div class="search_result">
	  		<span class="duration-box duration<%= job.duration %>"><%= job.duration %></span>
	  		<h4><%= link_to job.title, job %></h4>
    		<div class="description"><%= job.description %></div>
    		<%= link_to "More info...", job, :class => 'readmore' %>
			<div class="spacer"></div>
		</div><!-- .search_result-->
	<% end %>
  </div>

  <%= will_paginate @requests %>
<% end %>
