<h1>Editing job_request</h1>

<% semantic_form_for @job_request do |f| %>
  <% f.inputs do %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :start_at %>
    <%= f.input :end_at %>
	<%= f.input :duration, :as => :select, :collection => {"1 hour" => 1, "2 hours" => 2, "3 hours" => 3, "4 hours" => 4, "5 hours" => 5, "1 day" => 8} %>
    <%= f.input :category_string, :label => 'Categories', :hint => 'Separate multiple categories with commas.' %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button 'Update' %>
  <% end %>
<% end %>

<%= link_to 'Show', @job_request %> |
<%= link_to 'Back', job_requests_path %>