<div style="float:left">
	<h2><%=h @job_request.title %></h2>
	<div><%=h @job_request.description %></div>
	<div>Location: <%=h @job_request.location %></div>
	<div>When: <%=h @job_request.start_at.to_s %> till <%=h @job_request.end_at.to_s %></div>
	<div>Duration <%=h @job_request.duration %></div>
	
	<% if @user == @job_request.user %>
		<%= link_to 'Edit', edit_job_request_path(@job_request) %>
		<% if @job_request.status == "open" %>
			<% if @help_offers.empty? %>
				<div>No offers yet.</div>
			<% else %>
				<h3>Your offers</h3>
				<%= render :partial => 'offer', :collection => @help_offers, :locals => {:job_request => @job_request} %>
			<% end %>
		<% elsif @job_request.status == "offered" %>
			<h3>Offer accepted waiting for confirmation</h3>
			<%= render :partial => 'offer', :object => @job_request.accepted_offer, :locals => {:job_request => @job_request} %>
		<% elsif @job_request.status == "accepted" %>
		<h3>Confirmed the following helper will do the work</h3>
			<%= render :partial => 'offer', :object => @job_request.accepted_offer, :locals => {:job_request => @job_request} %>		
		<% end %>
		
		
		
		
	<% elsif @job_request.status == "open" %>
		<% if @job_request.help_offer_for_user(@user) %>
			<div>You have made an offer for this request. (<%= link_to 'Edit', edit_job_request_help_offer_path(@job_request, @job_request.help_offer_for_user(@user)) %>)</div>
		<% else %>
			<%= link_to 'I want to help', new_job_request_help_offer_path(@job_request) %> |
		<% end %>
		
		
		
		
	<% else %>
		<% user_offer = @job_request.help_offer_for_user(@user) %>
		<% if user_offer %>
			<% if @job_request.status == "accepted" && user_offer.accepted %>
				<div>You got it! Go do the work.</div>
			<% elsif @job_request.status == "offered" && user_offer.accepted  %>
			<% form_tag url_for(:controller => 'job_requests', :action => 'accept') do %>
				<%= submit_tag 'Accept' %>
			<% end %>
			<% else %>
				<div>Thanks for your offer but your help is not needed at this time.</div>
			<% end %>
		<% else %>
			<div>Not accepting help requests at this time</div>
		<% end %>
	<% end %>
	<%= link_to 'Back', job_requests_path %>
	
</div>
	<div id="mapDiv" style="width: 500px; height: 300px; float: right;"></div>
<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAqm3plPiVC08Elzbvz5evNhRbE7UCZNFJf-WDfjAzqyZ6HhPuJxRAKjSVY0VNFfRyU1GL7uFaXDUi5g" type="text/javascript"></script> 
<script type="text/javascript"> 
	var map = null;
    var geocoder = null;
    function initialize() {
      if (GBrowserIsCompatible()) {
	    map = new GMap2(document.getElementById("mapDiv"));
		geocoder = new GClientGeocoder();
        geocoder.getLatLng('<%= @job_request.location %>',
          function(point) {
            if (!point) {
              alert("'<%= @job_request.location %>' not found");
            } else {
              map.setCenter(point, 13);
              var marker = new GMarker(point);
              map.addOverlay(marker);
              marker.openInfoWindowHtml('<%= @job_request.location %>');
            }
          }
        );
      }
    }
initialize();
</script>


<%= will_paginate @help_offers %>



