<% semantic_form_for @user do |f| %>
  <% f.inputs do %>
    <%= f.input :real_name, :label => "Name" %>
    <%= f.inputs :email %>
    <% unless @user.new_record? %>
      <%= f.inputs :skills, :reason, :my_job, :website, :about_me %>
      <li>
        <p>To set/change your avatar, head on over to <a href="http://en.gravatar.com/">Gravatar</a> to link one to your email address.</p>
      </li>
    <% end %>
    <%= f.inputs :password, :password_confirmation %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
