<div class="my_profile">
  <h2><%= @profile.name %>'s Profile</h2>

  <% if @profile == current_user %>
    <%= link_to 'Edit', edit_user_path(@profile) %>
  <% end %>

  <dl>
    <% if @profile == current_user %>
      <dt>Email</dt>
      <dd><%= @profile.email %>
    <% end %>
    <dt>Skills</dt>
    <dd><%= @profile.skills %>&nbsp;</dd>
    <dt>Reasons for Helping</dt>
    <dd><%= @profile.reason %>&nbsp;</dd>
    <dt>Job</dt>
    <dd><%= @profile.my_job %>&nbsp;</dd>
    <dt>Website</dt>
    <dd><%= @profile.website %>&nbsp;</dd>
    <dt>About</dt>
    <dd><%= @profile.about_me %>&nbsp;</dd>
  </dl>
  
  <h3>Thank You Notes</h3>
  <% @feedbacks.each do |feedback| %>
    <%= gravatar feedback.job_request.user.email, 'mini' %>
    <h4>
      <%= link_to feedback.job_request.title, feedback.job_request %>
      from
      <%= link_to feedback.job_request.user.name, feedback.job_request.user %>
    </h4>
    <p><%= feedback.notes %></p>
  <% end %>
</div>

<div class="secondary">
  <div><%= gravatar @profile.email %></div>
  
  Average Rating: <%= @rating %>
  
  <h3>Help Given</h3>
  <% @feedbacks.each do |feedback| %>
    <h4><%= link_to feedback.job_request.title, feedback.job_request %></h4>
 	  <%= link_to "More info...", feedback.job_request, :class => 'readmore' %>
  <% end %>
  
  <h3>Help Requested</h3>
  <% @profile.job_requests.each do |job| %>
    <h4><%= link_to job.title, job %></h4>
 	  <%= link_to "More info...", job, :class => 'readmore' %>
  <% end %>  
</div>
