<div class="my_profile" style="float: left; width: 400px">
<h1><%= @user.name %>'s Profile</h1>
<div class="real_name">
Name:	<%= @user.real_name %>
</div>
<% if @user == current_user %>
  <div class="email">
  Email:	<%= @user.email %>
  </div>
<% end %>

<div class="skills">
Skills: <%= @user.skills %>
</div>
<div class="reason">
Reasons for helping: <%= @user.reason%>
</div>
<div class="my_job">
Day job: <%= @user.my_job %>
</div>
<div class="website">
Website: <%= @user.website %>
</div>
<div class="about_me">
About: <%= @user.about_me %>
</div>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <ul>
    <% @user.job_requests.each do |job| %>
      <li><%= link_to job.title, job %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div style="float: left"><%= image_tag "http://www.gravatar.com/avatar/" + Digest::MD5.hexdigest(@user.email) + "?d=identicon&r=g" %></div>
