<div class="my_profile">
  <h2><%= @profile.name %>'s Profile</h2>

  <dl>
    <% if @profile == current_user %>
      <dt>Email</dt>
      <dd><%= @profile.email %>
    <% end %>
    <dt>Skills</dt>
    <dd><%= @profile.skills %>&nbsp;</dd>
    <dt>Reasons for Helping</dt>
    <dd><%= @profile.reason %>&nbsp;</dd>
    <dt>Job</dt>
    <dd><%= @profile.my_job %>&nbsp;</dd>
    <dt>Website</dt>
    <dd><%= @profile.website %>&nbsp;</dd>
    <dt>About</dt>
    <dd><%= @profile.about_me %>&nbsp;</dd>
  </dl>
  
  <h3>Thank You Notes</h3>
  <% @feedbacks.each do |feedback| %>
    
  <% end %>
</div>

<div class="secondary">
  <div><%= gravatar @profile.email %></div>
  
  Average Rating: <%= @rating %>
  
  <h3>Help Given</h3>
  <% @profile.help_offers.accepted.each do |offer| %>
    <h4><%= offer.job_request.title %></h4>
 	  <%= link_to "More info...", offer.job_request, :class => 'readmore' %>
  <% end %>
  
  <h3>Help Requested</h3>
  <% @profile.job_requests.each do |job| %>
    <h4><%= job.title %></h4>
 	  <%= link_to "More info...", job, :class => 'readmore' %>
  <% end %>
  
</div>

<% if @profile == current_user %>
  <div class="editing">
    <%= link_to 'Edit', edit_user_path(@profile) %>
    <ul>
      <% @profile.job_requests.each do |job| %>
        <li><%= link_to job.title, job %></li>
      <% end %>
    </ul>
  </div>
<% end %>
