<div class="left">
  <div id="opportunities">
 		<h3><span>Upcoming Opportunities</span></h3>
 		
 		<% @open.each do |job| %>
    	<p><img src="images/green_button1.png" width="67" height="67" class="floatLeft"><strong><%= job.title %></strong><br />
        <%= job.description %></p>
        <%= link_to "More info...", job, :class => 'readmore' %>
				<div class="spacer"></div>
		<% end %>
    </div><!-- end #opportunities -->        
 </div><!-- end .left -->
<div class="left">
	   <div id="recent_helpers">
      	<h3><span>Recent Helpers</span></h3>
      	
      	<% @completed.each do |job| %>
      		<img src="images/image1.gif" width="67" height="67" class="floatLeft"><p><span class="name"><%= job.feedback.help_offer.user.name %></span><br /><%= job.title %></p>
	 			<div class="spacer">&nbsp;</div>
	 			<% end %>
 	</div><!-- end #recent_helpers -->
       <div id="thankyou_notes">
      	<h3><span>Thank You Notes</span></h3>
      	<% @feedbacks.each do |feedback| %>
        	<p><img src="images/notes_image1.gif" width="89" height="90" class="floatLeft"><strong><%= feedback.job_request.title %></strong><br />
          <%= feedback.notes %></p>
 			 	  <%= link_to "More info...", feedback.job_request, :class => 'readmore' %>
          <div class="spacer"></div>
        <% end %>
       </div><!-- end #thankyou_notes -->
</div>